# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.PL-Resolution.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\MSI\RiderProjects\PL-Resolution\.idea\.idea.PL-Resolution\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
